/**
 * @author The InCode Devs
 * @copyright 2018-2021 The InCode Developers <https://github.com/InCodeDevs>
 */

@use "~bootstrap/scss/bootstrap";

.menu-choose-editors-root {
  display: flex;
}

.menu-choose-editor {
  margin: 2rem;
  padding: 1.75rem 1.75rem;
  border-radius: 24px;
  flex: 50%;
  transition: 0.25s;
}

.menu-choose-editor:hover {
  cursor: pointer;

  .menu-editor-description {
    opacity: 0.7;
  }
}

.menu-editor-description {
  font-size: 1.1em;
  opacity: 0.25;
  letter-spacing: 4px;
  transition: opacity 0.25s;
}
