/**
 * @author The InCode Devs
 * @copyright 2018-2021 The InCode Developers <https://github.com/InCodeDevs>
 */

@use "~bootstrap/scss/bootstrap";

.popup {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;
  width: 35%;
  height: 35%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  z-index: 10 !important;
  display: none;
}


.popup-content {
  position: relative;
  text-align: center;
  top: 45%;
  transform: translateY(-50%);
  width: 100%;
}

.popup-buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  display: flex;
  font-size: 1.5rem;
}

.popup-button {
  text-align: center;
  flex: 50%;
  color: #0071FF;
}

.popup {
  h1 {
    color: #0071FF;
  }
}

.prompt-popup-input {
  width: 96%;
  margin: 2%;
  transition: outline .1s;
}

.prompt-popup-input:focus {
  outline: #0071FF solid 3px;
}

