/**
 * @author The InCode Devs
 * @copyright 2018-2021 The InCode Developers <https://github.com/InCodeDevs>
 */

@use "~bootstrap/scss/bootstrap";

.template {
  margin: 2rem;
  padding: 1.75rem 1.75rem;
  display: inline-block;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.verified {
  border-radius: 50%;
  color: #000000;
  background-color: #13ff2f;
  padding: 5% 7.5% 5% 7.5%;
  font-weight: bolder;
  text-align: right;
  position: relative;
  float: left;
  top: 20px;
}

.template-name {
  margin: 2%;
  opacity: 0.4;
}

.template:hover {
  .template-name {
    opacity: 0.7;
  }
}

