/**
 * @author The InCode Devs
 * @copyright 2018-2021 The InCode Developers <https://github.com/InCodeDevs>
 */

@use "~bootstrap/scss/bootstrap";

.template {
  color: #000000 !important;
}

.template:hover {
  background-color: rgba(76, 76, 76, 0.45);
}

#code-templates {
  h2 {
    color: #000000 !important;
  }
}

#blockly-templates {
  h2 {
    color: #000000 !important;
  }
}

.template-name {
  opacity: 1;
}

.template:hover {
  .template-name {
    opacity: 1;
  }
}

