/**
 * @author The InCode Devs
 * @copyright 2018-2021 The InCode Developers <https://github.com/InCodeDevs>
 */

$light: #f8f9fa;
$dark: #1E1E1E;

$red: rgba(255, 0, 24, 1);
$orange: rgba(255, 165, 44, 1);
$yellow: rgba(255, 255, 65, 1);
$green: rgba(0, 128, 24, 1);
$blue: rgba(0, 0, 249, 1);
$purple: rgba(134, 0, 125, 1);

$pride-gradient: linear-gradient(
  to right,
  $red,
  $orange,
  $yellow,
  $green,
  $blue,
  $purple,
  $blue,
  $green,
  $yellow,
  $orange,
  $red
);
