/**
 * @author The InCode Devs
 * @copyright 2018-2021 The InCode Developers <https://github.com/InCodeDevs>
 */

@use "~bootstrap/scss/bootstrap";

html,
body {
  background-color: #1e1e1e;
}

#copyright {
  color: $light;
}

#topScreen {
  background: #1e1e1e;
}

.dropdown-menu {
  background-color: $dark;
}

.dropdown-item {
  background-color: $dark;
  color: $light;
}
