/**
 * @author The InCode Devs
 * @copyright 2018-2021 The InCode Developers <https://github.com/InCodeDevs>
 */

@import '~bootstrap/scss/bootstrap';

.btn-outline-flat {
  color: $light;
  border-color: $light;
}

.btn-outline-flat:hover {
  color: $dark;
  background-color: $light;
  border-color: $light;
}

.btn-outline-flat:focus {
  box-shadow: none;
}

.btn-xxl {
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
}

.menu-choose-editors-root {
  display: flex;
}

.menu-choose-editor {
  margin: 2rem;
  padding: 1.75rem 1.75rem;
  border-radius: 24px;
  flex: 50%;
  transition: 0.25s;
}

.menu-choose-editor:hover {
  background-color: rgba(76, 76, 76, 0.45);
  cursor: pointer;
  .menu-editor-description {
    opacity: .7;
  }
}

.menu-editor-description {
  color: #fff;
  font-size: 1.1em;
  opacity: .25;
  letter-spacing: 4px;
  transition: opacity .25s;
}
