/**
 * @author Ben Siebert
 * @copyright 2018-2021 Ben Siebert. All rights reserved.
 */

@import '~bootstrap/scss/bootstrap';

.btn-outline-flat {
  color: $light;
  border-color: $light;
}

.btn-outline-flat:hover {
  color: $dark;
  background-color: $light;
  border-color: $light;
}

.btn-outline-flat:focus {
  box-shadow: none;
}

.btn-xxl {
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
}
