/**
 * @author The InCode Devs
 * @copyright 2018-2021 The InCode Developers <https://github.com/InCodeDevs>
 */

* {
  font-family: sans-serif;
}

@import '~bootstrap/scss/bootstrap';

.btn-outline-flat {
  color: $light;
  border-color: $light;
}

.btn-outline-flat:hover {
  color: $dark;
  background-color: $light;
  border-color: $light;
}

.btn-outline-flat:focus {
  box-shadow: none;
}

.btn-xxl {
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
}

.menu-choose-editors-root {
  display: flex;
}

.menu-choose-editor {
  margin: 2rem;
  padding: 1.75rem 1.75rem;
  border-radius: 24px;
  flex: 50%;
  transition: 0.25s;
}

.menu-choose-editor:hover {
  background-color: rgba(76, 76, 76, 0.45);
  cursor: pointer;
  .menu-editor-description {
    opacity: .7;
  }
}

.menu-editor-description {
  color: #fff;
  font-size: 1.1em;
  opacity: .25;
  letter-spacing: 4px;
  transition: opacity .25s;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: $light;
  width: 35%;
  height: 35%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  z-index: 10 !important;
  display: none;
}

.normal-outline-btn {
  border: none;
  border-top: 2px solid #333333;
  background: #ffffff;
  padding: 1rem 1.5rem;
  border-radius: 0 0 10px 10px;
}

.normal-outline-btn:hover {
  background: darken(#ffffff, 40%);
}

.normal-outline-btn:active {
  background: darken(#ffffff, 80%);
}

.popup-content {
  position: relative;
  text-align: center;
  //height: 75%;
  top: 45%;
  transform: translateY(-50%);
  width: 100%;
}

.popup-buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  display: flex;
  font-size: 1.5rem;
}

.popup-button {
  text-align: center;
  flex: 50%;
}

#copyright {
  bottom: 0;
  right: 0;
  position: absolute;
  color: $light;
  opacity: 0.4;
  z-index: 4269 !important;
}

#copyright:hover {
  user-select: none;
  cursor: pointer;
  opacity: 0.7;
}

#topScreen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 424242;
  display: none;
  background: #1E1E1E;
}

.prompt-popup-input {
  width: 96%;
  margin: 2%;
  outline: 0;
}
