/**
 * @author The InCode Devs
 * @copyright 2018-2021 The InCode Developers <https://github.com/InCodeDevs>
 */

@use "~bootstrap/scss/bootstrap";

#blockly {
  height: 90%;
  width: 55%;
  bottom: 0;
  left: 0;
  position: fixed;
}

#monaco {
  height: 90%;
  width: 55%;
  bottom: 0;
  left: 0;
  position: fixed;
}

#blocklyDiv {
  height: 100%;
}
#menuBar {
  width: 100%;
  min-height: 5%;
  height: 10%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 42;
}

#livePreviewFrame {
  width: 100%;
  height: 100%;
  border: none;
}

#livePreview {
  width: 45%;
  height: 90%;
  position: fixed;
  animation-name: none !important;
  bottom: 0;
  right: 0;
  z-index: 1;
}

#menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4 !important;
}

#userIndicator {
  top: 0;
  right: 0;
  margin: 1rem;
  position: fixed;
  z-index: 4268;
  #userImage {
    img {
      border-radius: 50%;
      width: 64px;
      height: 64px;
    }

    &:hover {
      cursor: pointer;
      div {
        display: block;
      }
    }

    div {
      display: none;
      position: absolute;
      top: 100%;
      width: 125%;
      color: #f8f9fa;
    }
  }
  a {
    text-decoration: none;
    font-weight: 900;
    font-size: x-large;
    display: none;
  }
}
